{% extends 'base.html' %}

{% block content %}

<p>Author creation form.</p>

<!-- TODO: Add a <form> element here and use the form variable to show the labels & fields -->
<form method="POST" action="{{ url_for('main.create_author', author_id=author.id )}}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit Author</legend>
    </fieldset>
</form>
    <form method="POST" action="{{ url_for('main.book_detail', book_id=book.id) }}">
        {{ form.csrf_token }}
        <fieldset>
            <legend>Edit this book</legend>
    
            {{ form.title.label }}
            {{ form.title }}
            
            {{ form.publish_date.label }}
            {{ form.publish_date(placeholder="YYYY-mm-dd") }}
            
            {{ form.author.label }}
            {{ form.author }}
            
            {{ form.audience.label }}
            {{ form.audience }}
            
            {{ form.genres.label }}
            {{ form.genres }}
                
            {{ form.submit }}
        </fieldset>
    </form>
{% endblock %}